<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IShowData" />
                <binding name="BasicHttpBinding_IAddData" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:39449/Services/SnowQueenService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShowData"
                contract="SnowQueenService.IShowData" name="BasicHttpBinding_IShowData" />
            <endpoint address="http://localhost:39449/Services/SnowQueenService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddData"
                contract="SnowQueenService.IAddData" name="BasicHttpBinding_IAddData" />
        </client>
    </system.serviceModel>
</configuration>